@font-face {
    font-family: "didot";
    src: url(../assets/fonts/didot/didot-bold-italic.ttf), url(../assets/fonts/didot/didot-lt-std-bold.otf), url(../assets/fonts/didot/didot-lt-std-italic.otf), url(../assets/fonts/didot/didot-medium.ttf), url(../assets/fonts/didot/didot-regular.ttf);
    font-family: "avenir";
    src: url(../assets/fonts/avenir-next/avenirNextLTPro-bold.otf), url(../assets/fonts/avenir-next/avenirNextLTPro-it.otf), url(../assets/fonts/avenir-next/avenirNextLTPro-regular.otf);
}
$primary_color:#1e4b4b;
$second_color: #dbf0f0;
*{
    border: 1px solid grey;
    margin: 0;
    padding: 0;
}
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
/* Track */
::-webkit-scrollbar-track {
/*     border-radius: 25px; */
    background-color: #b9b8b6;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary_color; 
  }
  
  /* Handle on hover */
/*   ::-webkit-scrollbar-thumb:hover {
    background: red; 
  } */
body{
    background-color:$second-color;
}
header{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 1rem;
    background-color: #fff;
    img{
        height:100%;
    }
    #hamb_menu_btn{
        padding: 2px;
        .barre{
            background-color:$primary_color;
            width: 60px;
            height: 10px;
            margin: 5px 0;
            border-radius: 25px; 
        }
    }
}
#menu{
    background-color: $primary_color;
    display: none;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top:0px;
    height: 50%;
    div{
        margin: 0.5rem 0;
        img{
            display: none;
        }
        a{
            color:#fff;
            text-decoration: none;
            font-family: 'avenir';
            font-size:1.75rem;
        }
    }

}
h1{
    font-family: 'didot';
    color: $primary-color;
    text-align: center;
    font-size: 4rem;
    margin-top: 2rem;
}
h2{
    text-align: center;
    font-size: 3rem;
    font-family: 'avenir';
}
#app{
    font-family: 'avenir';
    color:$primary_color;
    margin: 1rem 7rem;
}
.gif{
    display: flex;
    justify-content: center;
    img{
        width: 100%;
    }
}
#menu_desktop{
    display: none;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    a{
        font-family: 'avenir';
        color:$primary_color;
        text-decoration: none;
    }
}
.slogan{
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/files/waves.png');
    height: 14rem;
    max-width: 100%;
    margin: auto;
/*     h2{
        font-size: clamp(1rem, 10%, 5rem);
    } */
}
.thumbnail_first{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 4rem;
    h2{
        padding: 2rem;
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        a{
            text-decoration: none;
            color:$primary_color;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
                max-width: 75%;
                margin: auto;
            }
        }
    }
    .paragraph{
        margin: 0 1rem 0.5rem 1rem;
        font-family: 'avenir';

    }
}
.thumbnail_second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    h2{
        padding: 2rem;
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        a{
            text-decoration: none;
            color:$primary_color;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
                max-width: 75%;
                margin: auto;
            }
        }
    }
    .paragraph{
        margin: 0 1rem 0.5rem 1rem;
        font-family: 'avenir';
    }
}
.option_container{
    display: flex;
    justify-content: center;
    margin: 3rem;
    font-family: 'avenir';
    color: $primary_color;
    .options{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 0.5rem;
        button{
            border-radius: 5px;
        }
        img{
            width: 1.5rem;
            padding: 0.1rem 0.5rem;
        }
    }
    table{
        border: 1px solid $primary_color;
        border-collapse: collapse;
        img{
            width: 3rem;
        }
        th{
            border: 1px solid $primary_color;
            padding: 0 8px;
        }
        td{
            border: 1px solid $primary_color;
            padding: 0.5rem;
            a{
                text-decoration: none;
                color:$primary_color;
            }
        }
    }
}
.cv{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.container_contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
    img{
        width: 6rem;
    }
}
form{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    div{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: 'avenir';
        color: $primary_color;
        margin-bottom: 2rem;
        input, textarea{
            border: 1px solid $primary-color;
            font-size: 1.5rem;
            resize: none;
            font-family: 'avenir';
            color: #878582;
        }
    }
    .button{
        #submit{
        font-family: 'avenir';
        color: #fff;
        background-color: $primary_color;
        border-radius: 0;
        width: 50%;
        margin: 0 auto;
        }
    }
}
.container_articles{
    .container_articles_links{
        height: 22vh;
        a{
            text-decoration: none;
            h1{
                color: $primary_color;
                font-size: 3rem;
                font-family: 'avenir';
            }
        }
    }
}
.article{
    margin: 0 1rem;
    font-family: 'avenir';
    .date{
        text-align: center;
    }
    h1{
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    h2{
        font-size: 1.5rem;
        border: 1px solid $primary_color;
        margin: 1rem 0;
        color:$primary_color;
    }
    .article__group{
        p{
            .bold{
                font-size: 1rem;
                color:$primary_color;
            }
        }
        table{
            /* border: 1px solid $primary_color; */
            border-collapse: collapse;
            th{
                border: 1px solid $primary_color;
                padding: 0 8px;
            }
            td{
                border: 1px solid $primary_color;
                padding: 0.5rem;
            }
            td:nth-child(even) 
            {
                text-align: center;
            }
            td:nth-child(odd) 
            {
                padding-left: 4px;
            }
        }
        .bold{
            font-size: 1rem;
            color:$primary_color;
            margin: 1rem;
            .space{
                display: flex;
                flex-direction: column;
            }
        }
        h2{
            border:none;
            text-align: left;
        }
        a{
            display: flex;
            text-decoration: none;
            color:$primary_color;
            font-family: 'avenir';
        }
    }

}
kbd{
    border:1px solid grey;
}
.container_about{
    margin: 1rem;
    .about_sports{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'avenir';
        font-size: 1rem;
    }
    img{
        max-width: 75%;
        height: auto;
    }
}
.intro_aux_articles{
    margin-top: 2rem;
}



//MEDIA QUERIES
@media screen and (min-width: 768px) {
    #menu{
        div{
            display: flex;
            flex-direction: row;
            justify-content: center;
            &:hover img{
                opacity: 1;
                transition: 0.5s;
            }
            img{
                display: flex;
                opacity: 0;
                transition: 0.3s;
            }
            a{
                margin: 0 6px;
            }
        }
        .hidden_in_desktop{
            display: none;
        }
    }
    #menu_desktop{
        display: flex;
        flex-direction: row;
        div{
            display: flex;
            align-items: center;
            text-align: center;
            &:hover img{
                opacity: 1;
                transition: 0.5s;
            }
            img{
                opacity: 0;
                transition: 0.3s;
            }
            a{
                color:$primary_color;
                text-decoration: none;
                font-family: 'avenir';
                font-size:1.5rem;
            }
        }
    }
    #app{
        font-size: 2rem;
        width: 40%;
        margin: 1rem auto;
    }
    .gif{
        display: flex;
        justify-content: center;
        img{
            max-width: 40%;
        }
    }
    .slogan{
        max-width: 40%;
    }
    .thumbnail_first{
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 4rem 22rem;
        border: 1px solid rgba(30,75,75,0.5);
        padding: 1rem;
        div{
            a{
                text-decoration: none;
                color:$primary_color;
                img{
                    max-width: none;
                    margin: auto;
                }
            }
        }
        .paragraph{
            font-family: 'avenir';
            margin: 0 1rem;
        }
    }
    .thumbnail_second{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 4rem 22rem;
        border: 1px solid rgba(30,75,75,0.5);
        padding: 1rem;
        h2{
            padding-right: 1rem;
        }
        div{
            a{
                text-decoration: none;
                color:$primary_color;
                img{
                    max-width: none;
                    margin: auto;
                }
            }
        }
        .paragraph{
            font-family: 'avenir';
            margin: 0 1rem;
        }
    }
    .container_cv{
        display: flex;
        margin: 0 auto;
        width: 55%;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    form{
        width: 55%;
        justify-content: center;
        margin: 0 auto;
        input{
            width: 50%;
            margin: 0 auto;
        }
        .button{
            #submit{
            font-family: 'avenir';
            color: #fff;
            background-color: $primary_color;
            border-radius: 0;
            width: 50%;
            margin: 0 auto;
            }
        }
    }
    .article{
        margin: 0 15%;
        table{
            display: flex;
            justify-content: center;
        }
    }
}