@font-face {
  font-family: "didot";
  src: url(../assets/fonts/didot/didot-bold-italic.ttf), url(../assets/fonts/didot/didot-lt-std-bold.otf), url(../assets/fonts/didot/didot-lt-std-italic.otf), url(../assets/fonts/didot/didot-medium.ttf), url(../assets/fonts/didot/didot-regular.ttf);
  font-family: "avenir";
  src: url(../assets/fonts/avenir-next/avenirNextLTPro-bold.otf), url(../assets/fonts/avenir-next/avenirNextLTPro-it.otf), url(../assets/fonts/avenir-next/avenirNextLTPro-regular.otf);
}
* {
  /*     border: 1px solid grey; */
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  /*     border-radius: 25px; */
  background-color: #b9b8b6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1e4b4b;
}

/* Handle on hover */
/*   ::-webkit-scrollbar-thumb:hover {
    background: red; 
  } */
body {
  background-color: #dbf0f0;
}

header {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fff;
}
header img {
  height: 100%;
}
header #hamb_menu_btn {
  padding: 2px;
}
header #hamb_menu_btn .barre {
  background-color: #1e4b4b;
  width: 60px;
  height: 10px;
  margin: 5px 0;
  border-radius: 25px;
}

#menu {
  background-color: #1e4b4b;
  display: none;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  position: sticky;
  top: 0px;
  height: 50%;
}
#menu div {
  margin: 0.5rem 0;
}
#menu div img {
  display: none;
}
#menu div a {
  color: #fff;
  text-decoration: none;
  font-family: "avenir";
  font-size: 1.75rem;
}

h1 {
  font-family: "didot";
  color: #1e4b4b;
  text-align: center;
  font-size: 4rem;
  margin-top: 2rem;
}

h2 {
  text-align: center;
  font-size: 3rem;
  font-family: "avenir";
}

#app {
  font-family: "avenir";
  color: #1e4b4b;
  margin: 1rem 7rem;
}

.gif {
  display: flex;
  justify-content: center;
}
.gif img {
  width: 100%;
}

#menu_desktop {
  display: none;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}
footer a {
  font-family: "avenir";
  color: #1e4b4b;
  text-decoration: none;
}

.slogan {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/files/waves.png");
  height: 13rem;
  max-width: 100%;
  margin: auto;
}

.thumbnail_first {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 4rem;
}
.thumbnail_first h2 {
  padding: 2rem;
}
.thumbnail_first div a {
  text-decoration: none;
  color: #1e4b4b;
}
.thumbnail_first .paragraph {
  margin: 0 1rem 0.5rem 1rem;
  font-family: "avenir";
}

.thumbnail_second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.thumbnail_second h2 {
  padding: 2rem;
}
.thumbnail_second div a {
  text-decoration: none;
  color: #1e4b4b;
}
.thumbnail_second .paragraph {
  margin: 0 1rem 0.5rem 1rem;
  font-family: "avenir";
}

.option_container {
  display: flex;
  justify-content: center;
  margin: 3rem;
  font-family: "avenir";
  color: #1e4b4b;
}
.option_container .options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 0.5rem;
}
.option_container .options button {
  border-radius: 5px;
}
.option_container .options img {
  width: 1.5rem;
  padding: 0.1rem 0.5rem;
}
.option_container table {
  border: 1px solid #1e4b4b;
  border-collapse: collapse;
}
.option_container table img {
  width: 3rem;
}
.option_container table th {
  border: 1px solid #1e4b4b;
  padding: 0 8px;
}
.option_container table td {
  border: 1px solid #1e4b4b;
  padding: 0.5rem;
}
.option_container table td a {
  text-decoration: none;
  color: #1e4b4b;
}

.cv {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.container_contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
}
.container_contact img {
  width: 6rem;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
form div {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "avenir";
  color: #1e4b4b;
  margin-bottom: 2rem;
}
form div input, form div textarea {
  border: 1px solid #1e4b4b;
  font-size: 1.5rem;
  resize: none;
  font-family: "avenir";
  color: #878582;
}
form .button #submit {
  font-family: "avenir";
  color: #fff;
  background-color: #1e4b4b;
  border-radius: 0;
  width: 50%;
  margin: 0 auto;
}

.container_articles .container_articles_links {
  height: 22vh;
}
.container_articles .container_articles_links a {
  text-decoration: none;
}
.container_articles .container_articles_links a h1 {
  color: #1e4b4b;
  font-size: 3rem;
  font-family: "avenir";
}

.article {
  margin: 0 1rem;
  font-family: "avenir";
}
.article .date {
  text-align: center;
}
.article h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.article h2 {
  font-size: 1.5rem;
  border: 1px solid #1e4b4b;
  margin: 1rem 0;
  color: #1e4b4b;
}
.article .article__group p .bold {
  font-size: 1rem;
  color: #1e4b4b;
}
.article .article__group table {
  border: 1px solid #1e4b4b;
  border-collapse: collapse;
}
.article .article__group table th {
  border: 1px solid #1e4b4b;
  padding: 0 8px;
}
.article .article__group table td {
  border: 1px solid #1e4b4b;
  padding: 0.5rem;
}
.article .article__group table td:nth-child(even) {
  text-align: center;
}
.article .article__group table td:nth-child(odd) {
  padding-left: 4px;
}
.article .article__group .bold {
  font-size: 1rem;
  color: #1e4b4b;
  margin: 1rem;
}
.article .article__group .bold .space {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  #menu div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #menu div:hover img {
    opacity: 1;
    transition: 0.5s;
  }
  #menu div img {
    display: flex;
    opacity: 0;
    transition: 0.3s;
  }
  #menu div a {
    margin: 0 6px;
  }
  #menu .hidden_in_desktop {
    display: none;
  }

  #menu_desktop {
    display: flex;
    flex-direction: row;
  }
  #menu_desktop div {
    display: flex;
    align-items: center;
    text-align: center;
  }
  #menu_desktop div:hover img {
    opacity: 1;
    transition: 0.5s;
  }
  #menu_desktop div img {
    opacity: 0;
    transition: 0.3s;
  }
  #menu_desktop div a {
    color: #1e4b4b;
    text-decoration: none;
    font-family: "avenir";
    font-size: 1.5rem;
  }

  #app {
    font-size: 2rem;
    width: 40%;
    margin: 1rem auto;
  }

  .gif {
    display: flex;
    justify-content: center;
  }
  .gif img {
    max-width: 40%;
  }

  .slogan {
    max-width: 40%;
  }

  .thumbnail_first {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 4rem 22rem;
    border: 1px solid rgba(30, 75, 75, 0.5);
    padding: 1rem;
  }
  .thumbnail_first div a {
    text-decoration: none;
    color: #1e4b4b;
  }
  .thumbnail_first .paragraph {
    font-family: "avenir";
    margin: 0 10rem;
  }

  .thumbnail_second {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4rem 22rem;
    border: 1px solid rgba(30, 75, 75, 0.5);
    padding: 1rem;
  }
  .thumbnail_second h2 {
    padding-right: 1rem;
  }
  .thumbnail_second div a {
    text-decoration: none;
    color: #1e4b4b;
  }
  .thumbnail_second .paragraph {
    font-family: "avenir";
    margin: 0 10rem;
  }

  .container_cv {
    display: flex;
    margin: 0 auto;
    width: 55%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  form {
    width: 55%;
    justify-content: center;
    margin: 0 auto;
  }
  form input {
    width: 50%;
    margin: 0 auto;
  }
  form .button #submit {
    font-family: "avenir";
    color: #fff;
    background-color: #1e4b4b;
    border-radius: 0;
    width: 50%;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */