@font-face 
{
    font-family: 'didot';
    src: url(../../assets/fonts/didot/didot-bold-italic.ttf),url(../../assets/fonts/didot/didot-lt-std-bold.otf),url(../../assets/fonts/didot/didot-lt-std-italic.otf),url(../../assets/fonts/didot/didot-medium.ttf),url(../../assets/fonts/didot/didot-regular.ttf);
    font-family:'avenir';
    src: url(../../assets/fonts/avenir-next/avenirNextLTPro-bold.otf),url(../../assets/fonts/avenir-next/avenirNextLTPro-it.otf),url(../../assets/fonts/avenir-next/avenirNextLTPro-regular.otf),

}
$primary-color:#1e4b4b;
$second-color: #dbf0f0;
*{
    border: 1px solid grey;
    text-decoration: none;
    margin:0;
    padding: 0;
    color:inherit;
}
header{
    background-color:#fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    img{
    height: 3rem;
    display: flex;
    text-align: center;
    }
}
menu{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'avenir';
    font-size: 1.5rem;
    div{
        display: flex;
        align-items: center;
        .balise1{
            opacity: 0;
            transition: 0.5s;
            max-height: 2.5rem;
        }
        .balise2{
            opacity: 0;
            max-height: 2rem;
            transition: 0.5s;
        }
        &:hover .balise1, &:hover .balise2{
            opacity: 1;
            transition: 0.5s;
        }
        a{
            color: $primary-color;
            margin: 0 0.5rem;
        }
    }
}
body{
    background-color:$second-color;
}
footer{
    position: fixed;
    display: flex;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    background-color: rgba($color: white, $alpha: 0.5);
    justify-content: center;
    align-items: center;
    img{
        height: 2rem;
        display: flex;text-align: center;
    }
    button{
        color:$primary-color;
        display: flex;
        align-items: center;
        position: fixed;
        right: 5px;
    }
}
.containervideo{
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 46.4rem;
    height: 26.4rem;
    video{
        width: 100%;
        height: auto;
    }
    .text{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 140px;
        background: white;
        font-size: 6rem;
        font-family:'avenir';
        mix-blend-mode: screen;
        letter-spacing: 7px;
        font-weight: bolder;
        span{
            font-size: 2rem;
        }
    }
}
h1{
    font-family: 'didot';
    color: $primary-color;
    text-align: center;
    font-size: 4rem;
    margin-top: 2rem;
}
#menumobile{
    display: none;
}
#hamb_menu_btn{
    display: none;
}
.login_form{
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    div{
        padding:5px;
        input, button{
            padding: 2px;
        }
    }
}
.main_container{
    display: flex;
    justify-content: center;
    color:$primary-color;
    .options{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 2px;
        button{
            /* margin: 10px; */
            font-family: 'avenir';
            padding: 0.25rem 1rem;
            border-radius: 5px;

            img{
                width: 1rem;
                height: auto;
            }
        }
    }
    table{
        border-collapse: collapse;
        width: 30%;
        font-family: 'avenir';
        th{
            padding:0 2px;
            font-size: 1.5rem;
            border: 1px solid $primary-color;
        }
        td{
            /* padding: 3px; */
            border: 1px solid $primary-color;
            color:$primary-color;
            text-align: center;
            img{
                width: 3rem;
                margin: auto;
            }
        }
    }
}
.centering{
    text-align: center;
    font-family: 'avenir';
    color: $primary-color;
    margin-top: 1rem;
}
.containerproject {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 0.5fr 0.5fr 0.5fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "project_technologies project_begin project_end"
      "project_technologies project_specs project_specs"
      "project_coworkers screenshots_gallery project_context"
      "sources screenshots_gallery project_context"
      "project_link_github project_link_website dossier_de_conception"
      ". button .";
    text-align: center;
    width: 80%;
    height: 40rem;
    margin: 10px auto;
    div{
        border: 1px solid $primary-color;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 10px 0;
        color: $primary-color;
        font-family: 'avenir';
        label{
            margin-right: 5px;
        }
    }
  }
  
  .project_begin { grid-area: project_begin; }
  
  .project_end { grid-area: project_end; }
  
  .project_technologies { grid-area: project_technologies; }
  
  .dossier_de_conception { grid-area: dossier_de_conception; }
  
  .project_link_website { grid-area: project_link_website; }
  
  .project_link_github { grid-area: project_link_github; }
  
  .project_coworkers { grid-area: project_coworkers; }
  
  .sources { grid-area: sources; }
  
  .screenshots_gallery { grid-area: screenshots_gallery; }
  
  .project_context { grid-area: project_context; }
  
  .project_specs {
    display: grid;
    position: relative;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". prototype";
    grid-area: project_specs;
    p{
        position: absolute;
        left: 3rem;
    }
    .prototype { grid-area: prototype; 
        width: 30%;
        height: 70%;
        right: 1rem;
        position: absolute;
    }
    }
    .button {
    grid-area: button;
    button, input {
        padding: 0 1rem;
        margin: 0 1rem;
    }
}

.container_projects {
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    width: 80%;
    margin: 10px auto;
    grid-template-areas:
      "project_thumbnail_next . project_title_next"
      "project_title_06 arrow project_thumbnail_06"
      "project_thumbnail_05 arrow project_title_05"
      "project_title_04 arrow project_thumbnail_04"
      "project_thumbnail_03 arrow project_title_03"
      "project_title_02 arrow project_thumbnail_02"
      "project_thumbnail_01 arrow project_title_01";
      div{
          height: 16rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'avenir';
          font-weight:bolder;
          font-size: 2.5rem;
          color:$primary-color;
          img{
              width: 16rem;
          }
      }
  }
  
  .project_thumbnail_next { grid-area: project_thumbnail_next; }
  
  .arrow { grid-area: arrow; }
  
  .project_title_08 { grid-area: project_title_08; }
  
  .project_title_07 { grid-area: project_title_07; }
  
  .project_title_06 { grid-area: project_title_06; }
  
  .project_title_05 { grid-area: project_title_05; }
  
  .project_title_04 { grid-area: project_title_04; }
  
  .project_title_03 { grid-area: project_title_03; }
  
  .project_title_02 { grid-area: project_title_02; }
  
  .project_title_01 { grid-area: project_title_01; }
  
  .project_title_next { grid-area: project_title_next; }
  
  .project_thumbnail_08 { grid-area: project_thumbnail_08; }
  
  .project_thumbnail_07 { grid-area: project_thumbnail_07; }
  
  .project_thumbnail_06 { grid-area: project_thumbnail_06; }
  
  .project_thumbnail_05 { grid-area: project_thumbnail_05; }
  
  .project_thumbnail_04 { grid-area: project_thumbnail_04; }
  
  .project_thumbnail_03 { grid-area: project_thumbnail_03; }
  
  .project_thumbnail_02 { grid-area: project_thumbnail_02; }
  
  .project_thumbnail_01 { grid-area: project_thumbnail_01; }

.container_cv{
    display: flex;
    justify-content: center;
    embed{
        width:50%;
        height: 800px;
        margin: auto;
    }
}
.container_about{
    font-family: 'avenir';
    width: 55%;
    margin: auto;
    margin-top: 5rem;
    p{
    padding: 2rem 0;
    }
}


@media screen and(max-width: 768px) {
    menu{
        display: none;
    }
    .containervideo{
        display: none;
    }
}/* ferme la media queries */